{% extends "base.html.twig" %}

{% block title %}Liste des Personnes{% endblock %}

{% block body %}
<h1>Liste des personnes</h1>

<table class="table" style="margin-left:auto;margin-right:auto;display:block;width:100%;">
    <thead class="thead-dark">

    <th>
        Prénom
    </th>
    <th>
        Nom
    </th>
    <th>
        Age
    </th>
    <th>
        Image
    </th>
    <th>
        Page Perso
    </th>

    </tr>
    </thead>

    {%  for personne in personnes %}
        <tr>
            <td>
                <div> {{  personne.prenom}}</div></td><td><div> {{  personne.nom}}</div></td>
            <td>
    <div> {{ personne.age}}</div></td>
            <td>
        {% if personne.path is null %}
            <img style="border-radius: 50%" src="{{ asset('images/user.png ') }}">

        {% else %}
            <img style="border-radius: 50%;width:100px;height:100px" src="{{ asset('images/'~personne.path)|default(asset('images/user.png ')) }}">
        {%  endif %}
            </td>
            <td>
                <div><a href="{{ path('showPersonne', { 'id': personne.id}) }}"> <button type="button" class="btn btn-dark"  name="bouton">Suivant</button></a> </div></td>
            <td></tr>
    {% endfor%}
{% endblock %}
